<div class="dog-face">
  <h2>{{dog.name}}</h2>
  <p>Breed: {{dog.breed}}</p>
  <p>Color: {{dog.color}}</p>
  <p>Smile: {{dog.smile}}</p>
  <img class="dogimg" style="max-width:300px; display:none;" src="{{dog.image}}" >
  <button {{action "dogShowFace"}} type="button" class="btn">Show me the dogs smile!</button>
  <hr>
</div>