<div class="dog-face">
  <h2>{{dog.name}}</h2>
  <p>Breed: {{dog.breed}}</p>
  <p>Color: {{dog.color}}</p>
  <p>Smile: {{dog.smile}}</p>
  <img style="max-width:300px" src="{{dog.image}}" >
  <hr>
</div>